body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
button
  color #00B7FF
  background none
  border none
  margin 0
  padding 0
  width auto
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  cursor pointer
  text-decoration none
  &:hover
    text-decoration underline

a.logo
  color #9a9a9a
  text-decoration none
  &:hover
    color #00B7FF
    text-decoration underline
  h1
    margin-top 0

p
  line-height 1.5em

p.error_msg
  color red
  font-size 12px

div.field
  margin-bottom: 1em

input
  display block
  padding 8px
  border 1px solid #ccc
  outline none
  width 150px
  &:hover
  &:focus
    border-color #00B7FF
