nav
    a(href='/login') login
    a(href='/register') register
p
    | <strong>exquisitehaiku</strong> is an experimental piece of software that makes it possible
    | for large groups of people to compose short poems.
