!!!
html
  head
    title= title
    block js
    block css
      link(rel='stylesheet', href='/stylesheets/_style.css')
      link(rel='stylesheet', href='/stylesheets/admin.css')
  body
    nav
      a.logo(href='/admin') exquisitehaiku
      a(href='/new') new poem
      a(href='/logout') logout
    != body
