!!!
html
  head
    title= title
    block js
    block css
      link(rel='stylesheet', href='/stylesheets/_style.css')
      link(rel='stylesheet', href='/stylesheets/index.css')
  body
    div * * * * *
    div * * * * * * *
    div * * * * *
    a.logo(href='/')
      h1 exquisitehaiku
    != body
