!!!
html
  head
    title= title
    block js
    block css
      link(rel='stylesheet', href='/stylesheets/_style.css')
      link(rel='stylesheet', href='/stylesheets/index.css')
  body
    a.logo(href='/')
      h1 exquisitehaiku
    nav
        a(href='/login') login
        a(href='/register') register
    != body
